{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" id="regform">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit" id="button">Register</button><div id="check"></div>
    </form>

    <script>
        document.getElementById("regform").addEventListener("submit", function(event){
            event.preventDefault();
            var username = document.getElementById("username").value;
            $.get("/check", {"username":username}, function(status){
                if (status.status){
                    document.getElementById("check").innerHTML = "";
                    document.getElementById("regform").submit();
                }
                else {
                    document.getElementById("check").innerHTML = "username not available";
                }
            });
        });
    </script>
{% endblock %}
