{% extends "layout.html" %}

{% block title %}
    Checkout
{% endblock %}

{% block main %}
    <form method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" value="{{ jquote.symbol }}" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="shares" value="{{ shares }}" type="text">
        </div>
        <button class="btn btn-primary" type="submit" formaction="/sell">Refresh</button>
        <button class="btn btn-primary" type="submit" formaction="/sellconfirm">Sell Now</button>
    </form>

    <br>
    <table class="table table-sm center" style="width: auto">
    <thead class="table-primary">
    <tr>
        <th scope="col">
            Symbol
        </th>
        <th scope="col">
            Company Name
        </th>
        <th scope="col">
            Latest Price
        </th>
        <th scope="col">
            Shares to Sell
        </th>
        <th scope="col">
            Total
        </th>
        <th scope="col">
            Shares Held
        </th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ jquote.symbol }}</td>
            <td>{{ jquote.name }}</td>
            <td>{{ jquote.price | usd }}</td>
            <td>{{ '%d' % shares }}</td>
            <td>{{ cost }}</td>
            <td>{{ holdshares }}</td>
        </tr>
    </tbody>
    </table>
{% endblock %}
